:root {
    --primary-background: #f1f1f1;
    --button-background: #f4f4f5;
    --secondary-button-background: #91c1e7;
    --white-background: #fff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 25rem;
    background-color: var(--primary-background);
}

.calculator {
    background-color: var(--primary-background);
}

/* Design Of Display */
input[type=text] {
    width: 100%;
    text-align: right;
    font-size: 50px;
    font-weight: 500;
    color: black;
    border: none;
    padding-right: 5px;
    background-color: var(--primary-background);
}

.history {
    height: auto;
    max-height: 40px;
    overflow: auto;
    float: right;
    width: 100%;

}

.history p {
    width: 100%;
    text-align: end;
    margin-bottom: 5px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 10px;
    padding: 3px 10px;
}

.history p:hover {
    -webkit-box-shadow: 0px 0px 20px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px -11px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 20px -11px rgba(0, 0, 0, 0.75);
}

#output:focus {
    outline: none;
}

/* Desining Of Buttons */

button {
    font-size: 15px;
}

.btn {
    width: 19%;
    border: none;
}

.btn,
.btn-deg,
.btn-fe {
    border: none;
    padding: 10px;
    margin: 2px 2px;
}

.btn-deg,
.btn-fe {
    width: 19%;
    font-weight: 900;
    background-color: var(--primary-background);
}

.btn-m {
    background-color: var(--primary-background);
}

.dialpad {
    background-color: var(--button-background);
}


.btn-b {
    font-weight: 900;
}

.btn-l {
    color: #999595;
    font-weight: 900;
}


.btn-opr {
    font-size: medium;
}

.btn-white {
    background-color: rgb(255, 255, 255);
    color: #000;
    font-weight: 900;
}

.btn-equal {
    background-color: var(--secondary-button-background);
}

/* Dropdown Menus */
#trigo,
#func {
    background: none;
    border: none;
    font-size: 15px;
    padding: 10px 0px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

select option {
    background-color: white;
    color: black;
}

/* Hover Effect Of Buttons */
.btn:hover {
    color: white;
}

#trigo:hover,
#func:hover {
    background-color: #d3d4d5;
}

.form-select:focus {
    box-shadow: none;
}

.active {
    background-color: var(--secondary-button-background) !important;
    font-weight: 900;
}

.btn-hide {
    display: none !important;
}

.btn-show {
    display: block;
}





.dropdown {
    position: relative;
    display: inline-block;
    width: 40%;
}

.func-list,
.trigo-list {
    display: none;
    position: absolute;
    /* background-color: var(--secondary-button-background); */
    min-width: 140px;
    z-index: 1;

}

.trigo-list button,
.func-list button {
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    background-color: var(--secondary-button-background);

}

.dropdown button:hover {
    background-color: var(--secondary-button-background);
    color: black;
}

.show {
    display: block;
}

.btn:disabled {
    background-color: rgb(255, 255, 255);
    color: #000;
}

@media only screen and (max-width:600px) {

    .btn,
    .btn-deg,
    .btn-fe {
        padding: 6px;
        margin: 1px 1px;
    }
}